h2{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 28px;
}
.section-padding{
    padding: 105px 0 0px 0px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 999;
}
.navbar.fixed{
    padding: 5px 100px;
    background: rgba(255, 225, 2, 0.647);
}
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	

.navbar-expand-lg .navbar-nav .nav-link {
   color: #fff!important;
   font-weight: 700;
   letter-spacing: 2px;
} 

.cover{
    position: relative;
}

.cover .cover-content {
    position: absolute;
    top: 204px;
    left: 108px;
    color: #fff;
}
.carousel-caption.d-none.d-md-block.first_slide {
    position: absolute;
    bottom: 308px;
    /* right: 302px; */
    text-align: left;
    color: #fff;
}
.carousel-caption.d-none.d-md-block.second_slide {
    position: absolute;
    /* top: 5px; */
    bottom: 284px;
    /* right: -20px; */
    left: 587px;
	color: #fff;
}
.third_slide{

}
.carousel.pointer-event {
	position: relative;
    bottom: 69px;
}
.navib{
	position: relative;
    z-index: 9;
}
.marq img{
	margin-right: 20px;
	width:200px; 
	height:100px;
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all .8s ease-in-out;  
}
.marq img:hover{
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}



/* Start services section  */
.services{
    position: relative;
    z-index: 9;
    /* background: url('img/service-back.png') no-repeat center center/cover; */
    bottom: 69px;
}

.pictures {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
  }
  
  .pictures img {
    object-fit: cover;
    width: 100%;
    height:auto;
    height: 200px;
    transition: transform 0.2s ease;
  }
  
  a {
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
  }
  
  strong {
    font-weight: 700;
  }
  
  a:hover img {
    transform: scale(1.1) rotate(8deg);
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
  }
  
  h4 {
    font-size: 14px;
    line-height: 1;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  figcaption {
    margin: 15px 0 30px 0;
    line-height: 1.3;
  }
  
  
  /* EN NU HIERONDER ALLE RESPPONSIVE DINGEN */
  
  /* Bij maximaal 900px beeldschermbreedte, DOE DIT... */
  @media (max-width: 900px) {
    .pictures {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Bij maximaal 500px beeldschermbreedte, DOE DIT... */
  @media (max-width: 500px) {
    .pictures {
      grid-template-columns: 1fr 1fr;
    }
    h3 {
      margin: 50px 10%;
    }
  }
  
  /* Enzovoort... */
  @media (max-width: 400px) {
    .pictures {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Enzovoort... */
  @media (max-width: 300px) {
    .pictures {
      grid-template-columns: 1fr;
    }
  }
  /* End Services section */

  .pictures ul li{
    font-size: 13px;
  }
  .client{
    background: url('img/service-up.png') no-repeat center center/cover;
    position: relative;
    bottom: 69px;
  }


  /* HOME FORM */
  .fullscreen-container {
    height: 100vh;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"%3E%3C/path%3E%3C/svg%3E');
    background-color: #424242;
    /* background: url('img/form.png') no-repeat center center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }
  
  .heading h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2.75rem;
    text-align: center;
  }
  
  .heading span {
    color: #FF5252;
    font-size: 4rem;
  }
  
  .form-container {
    background: #212121;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 52%;
    max-width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-group label {
    font-size: .9rem;
    letter-spacing: 1px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    padding: 7px;
    font-size: 1rem;
  }
  
  .input-group input:focus {
    box-shadow: 0 0 0 3px #FF5252;
  }
  
  button {
    padding: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: #FF5252;
    color: white;
    cursor: pointer;
  }
  
  button:focus,
  button:hover {
    background: hsl(0, 100%, 76%);
  }
  
  @media (max-width: 700px){
    .container {
      flex-direction: column;
      gap: 25px;
    }
  }



  .image {
    position: relative;
    top: 104px;
    left: 19%;
    width: 343px;
    height: 345px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    opacity: 0.3;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.formgrp {
    display: flex;
}
.heading {
    width: 48%;
}
.camm {
    position: relative;
    bottom: 185px;
}
img.cam2 {
    position: relative;
    left: 73px;
    width: 46%;
}


/* up down */
  
  .up-down{
    animation: up-down linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: up-down linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: up-down linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: up-down linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: up-down linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes up-down{
    0% {
      transform:  translate(1px,20px)  ;
    }
    24% {
      transform:  translate(1px,30px)  ;
    }
    50% {
      transform:  translate(1px,12px)  ;
    }
    74% {
      transform:  translate(1px,22px)  ;
    }
    100% {
      transform:  translate(1px,22px)  ;
    }
  }
  
  @-moz-keyframes up-down{
    0% {
      -moz-transform:  translate(1px,20px)  ;
    }
    24% {
      -moz-transform:  translate(1px,30px)  ;
    }
    50% {
      -moz-transform:  translate(1px,12px)  ;
    }
    74% {
      -moz-transform:  translate(1px,22px)  ;
    }
    100% {
      -moz-transform:  translate(1px,22px)  ;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      -webkit-transform:  translate(1px,20px)  ;
    }
    24% {
      -webkit-transform:  translate(1px,30px)  ;
    }
    50% {
      -webkit-transform:  translate(1px,12px)  ;
    }
    74% {
      -webkit-transform:  translate(1px,22px)  ;
    }
    100% {
      -webkit-transform:  translate(1px,22px)  ;
    }
  }
  
  @-o-keyframes up-down {
    0% {
      -o-transform:  translate(1px,20px)  ;
    }
    24% {
      -o-transform:  translate(1px,30px)  ;
    }
    50% {
      -o-transform:  translate(1px,12px)  ;
    }
    74% {
      -o-transform:  translate(1px,22px)  ;
    }
    100% {
      -o-transform:  translate(1px,22px)  ;
    }
  }
  
  @-ms-keyframes up-down {
    0% {
      -ms-transform:  translate(1px,20px)  ;
    }
    24% {
      -ms-transform:  translate(1px,30px)  ;
    }
    50% {
      -ms-transform:  translate(1px,12px)  ;
    }
    74% {
      -ms-transform:  translate(1px,22px)  ;
    }
    100% {
      -ms-transform:  translate(1px,22px)  ;
    }
  }

  /* up down end */


  /* footer section */
  :root{
    --theme-col: #2d4bf0;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
    background-color: #111010;
}
.f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}
footer ul li:hover{
    color: white;
}
footer .help-sec{
    grid-column-start: 2;
}
footer .cr-con{
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
    padding: .25rem .5rem;
    font-size: 16px;
}
.g-inp textarea{
    height: 150px;
}
.f-btn{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.carousel-control-prev, .carousel-control-next{
    background: none!important;
}